<a href="https://colab.research.google.com/github/RajPandya737/2048-Pokemon-Version/blob/master/testFile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dates = pd.date_range('2023-02-12', periods=13, freq='D')

numbers = [i for i in range(len(dates))]

df = pd.DataFrame({'date': dates, 'int': numbers})

print(df)

//testing push data - raj

         date  int
0  2023-02-12    0
1  2023-02-13    1
2  2023-02-14    2
3  2023-02-15    3
4  2023-02-16    4
5  2023-02-17    5
6  2023-02-18    6
7  2023-02-19    7
8  2023-02-20    8
9  2023-02-21    9
10 2023-02-22   10
11 2023-02-23   11
12 2023-02-24   12